<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#1885ed">
  <title>FERS.io - Homepage</title>
  {% load static %}
 <link rel="stylesheet" href="{% static 'css/landingpage.css' %}">

<!-- bootstrap link -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" 
integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<!-- <script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script> -->

<body>
  <header id="header">
    <div class="logo-section">
       <img id="header-img" class="site-logo" src="{% static 'images/icon.webp' %}" alt="company-logo">
    </div>
    <nav id="nav-bar" class="navigation-bar">
      <ul style="list-style:none;" class="navigation">
        <li><a class="nav-link" href="#main">HOME</a></li>
        <li><a class="nav-link" href="#story">Our Product</a></li>
        <li><a class="nav-link" href="#designs">About Us</a></li>
        <li><a class="nav-link" href="#contact">Contact</a></li>
        {% if user.is_authenticated %}
        
        <li><a class="nav-link" href="{% url 'face_feed' %}">Video Feed</a></li>
        <li><a class="nav-link" href="{% url 'logout' %}"><button class="login-btn">Logout</button></a></li>
      {% else %}

        <li><a class="nav-link" href="{% url 'login' %}"><button class="login-btn">Login</button></a></li>
      {% endif %}
      </ul>
    </nav>
  </header>

  <main>
    <div class="container-fluid">
      <section id="main" class="cover-sect"> 
        {% if user.is_authenticated %}
        {% if messages %}
        {% for  message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}  
        {% endif %}
        {% else %}

        {% if messages %}
        {% for  message in messages %}
        <div class="alert alert-{{message.tags}} alert-danger fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}  
        {% endif %}
        {% endif %}
        <div class="box-feature">
          <img class="cover-image" src="{% static 'images/main.webp' %}" alt="Description of the image"/>
         </div>
        <div class="title-text">
          <h1>FERS</h1>
          <p>~<span class="highlight">EMOTION</span> DETECTION USING CNN FOR SONG MAPPING~</p>
        </div>
      </section>

 

      <!--    description  ........ -->
      <section id="story" class="story-sect">
        <div class="box-feature">
          <img src="{% static 'images/E1.webp' %}" />
          </div>
        <div class="section-text">
          <h2>Description</h2>
          <p>This system incorporates computer vision techniques, including Convolutional Neural Networks (CNNs), For identifying emotions such as <span class="highlight" style="text-transform: uppercase;">Neutral, Happy, sad,</span> and <span class="highlight"style="text-transform: uppercase;">angry</span> by focusing on the dynamic changes in facial muscles. The features extracted from the song align with comparable emotions and are used to suggest songs corresponding to the person's current mood. Leveraging a large musical library, the system selects rule-based method that match the identified emotions.</p>
        </div>
      </section>

      <!--   about us    ........ -->
      <section id="designs" class="samples">
        <div class="section-text">
          <h2>Developers</h2>
          <p>Developers are digital architects, turning ideas into reality with code, creativity, and relentless problem-solving</p>
        </div>
        <div class="container-fluid featured">
            <div class="cont">
              <figure>
                <img src="{% static 'images/feerose.jpg' %}" height="350" width="260"alt="Fee Rose">
                <h1 style="font-size: 20px;">Firoj Raut</h1>
                <p>Backend Developer</p>
              </figure>
            </div>
            <div class="cont">
              <figure>
                <img src="{% static 'images/yubraj.jpg' %}" height="350" width="260" alt="Yubraj">
                <h1 style="font-size: 20px;">Yubraj Shrestha</h1>
                 <p> Model Designer</p>
              </figure>
            </div>
          
            <div class="cont">
              <figure>
                <img src="{% static 'images/melan.jpg' %}" height="350" width="260"alt="Melan">
                <h1 style="font-size: 20px;">Milan Rajbanshi</h1>
                <p>UI Designer</p>
              </figure>
            </div>
        </div>
      </section>


      <!--   contact section   ........ -->
      <section id="contact" class="contact-section">
        <div class="section-text">
          <h2>Get in touch</h2>
          <p>We would love to hear from you! <br><br>If you would like to receive our monthly catalogue subscribe by filling in the form with your name and email address</p>
        </div>
        <div class="contact-info">
          <div class="form-box">
            <form id="form" class="contact-form" action="{% url 'home' %}" method="post">
              {% csrf_token %}
              <label for="name" class="form-entry">Name <br>
                <input name="name" id="name" type="text" class="txt-box" placeholder="&nbsp&nbsp;Enter name" required><br>
              </label>
              <label for="email" class="form-entry">Email <br>
                <input name="email" id="email" type="email" class="txt-box" placeholder="&nbsp&nbsp;Enter email" required><br>
              </label>
              <label for="message" class="form-entry">Message<br>
                <textarea name="message" id="message" type="textarea" class="txt-box" placeholder="&nbsp;Optional"></textarea><br>
              </label><br>
              <input class="btn" id="submit" type="submit" value="Submit">
            </form>
          </div>
        </div>

      </section>
    </div>

  </main>
  <footer class="footer-section">
    <div class="footer-info">
      <ul style="list-style:none;">
        <li><span>Privacy</span></li>
        <li><span>Terms</span></li>
        <li><span>Contact</span></li>
      </ul>
    </div>
    <span class="personal-info">Created by Lulet<br>Reach out on twitter @luizoutlets</span>
    <span>Copyright 2019</span>
  </footer>

 <!-- bootstrap -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
 integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>
