<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Feedback</title>

  {% load static %}
  <link type="text/css" href="{% static 'css/feedback.css' %}" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

</head>

<body>
  <h1 class="text-center mb-4 feedback-header">User Feedback</h1>
  <!-- <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      {% for i in data  %}     
      <div class="carousel-item active d-block w-100">
        <div class="feedback-content">
          <span class="username">{{i.name}}</span>
          <p class="message">{{i.message}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->
  <!-- carousel end -->

  {% for i in data %}
    <div class="container mt-5">
      <!-- Feedback List -->    
      <div class="feedback-list">
        <!-- Feedback Item -->
        <div class="feedback-card">
          <div class="feedback-content">
            <span class="username">{{i.name}}</span>
            <p class="message">{{i.message}}</p>
          </div>
          <!-- button trigger--> 
          <button class="delete-btn"data-bs-toggle="modal" data-bs-target="#{{i.id}}">
            <i class="fas fa-trash-alt"></i> Delete</button>

          <!-- Modal -->
          <div class="modal fade" id="{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'delete_user' i.id %}">
                    <div class="modal-body">
                        Do you want to delete {{i.name}} info ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary"> Delete </button>
                    </div>
                </form>
            </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  {% endfor %}

 <!-- bootstrap -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
 integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>
